#comments.comments
	- _.each(photo.comments, function(comment, index, comments){
		article.comment( id= "c#{comment._id}" )
			p.comment-author
				- if (!comment.guest)
					| Por 
					a( href="/fotos/#{comment._user.username}" )= comment._user.username
				- else
					= comment.user.name

			p.gravatar
				img( src= helpers.gravatar(comment._user.email, 50) )

			p.comment-date Hace #{comment.pretty_date}

			.comment-body!= helpers.markdown(comment.body)
	- });


#comments-form.comments
	h2 Comentarios
	form.clearfix( method="post", action="/comment" )
		input( type="hidden", name="photo", value=photo.slug )

		.col.col-1
			p
				label Comentario
					br
					textarea( name="comment" )
		
		.col.col-2
			p
				label Nombre
					br
					input( type="text", name="name" )
			
			p
				label Email
					br
					input( type="email", name="email" )
		
			p.buttons
				button( type="submit" ) Comentar