header.clearfix
	h2 Comentarios 
		//- small: a#comments-toggle( href="#" ) [show/hide]

	- if (photo.comments.length > 3)
		p#leave-comment-link
			a.button.gray( href="#dejar-comentario" ) Dejar un comentario

- if (photo.comments.length)
	.comments
		- _.each(photo.comments, function(comment, index, comments){
			article.comment( id= "c#{comment._id}" )
				p.comment-head
					strong.comment-author
						- if (!comment.guest)
							a( href="/#{comment._user.username}" )= comment._user.username
						- else
							span= comment.user.name
					|  
					small.comment-date &middot; hace #{comment.pretty_date}

				p.gravatar
					- if (!comment.guest)
						a( href="/#{comment._user.username}")
							img( src= helpers.image.blank, data-src= helpers.gravatar(comment._user.email, 50) )
					- else
						img( src= helpers.image.blank, data-src= helpers.gravatar(comment.user.email, 50) )

				.comment-body!= helpers.markdown(comment.body)
		- });

	hr.hidden


a#dejar-comentario
#comments-form.comments
	h2.hidden Deja un Comentario

	form.clearfix( method="post", action="/comment" )
		input( type="hidden", name="photo", value=photo.slug )
		
		- if (logged_user)
			//- p= logged_user
			p Estas logueado como 
				//- a( href="/#{logged_user.username}" )= logged_user.username
				strong= logged_user.username
				|  &nbsp; &mdash; &nbsp; 
				a.logout( href="/logout" ) Salir?
				| 
				span.icon-logout

			p
				label
					textarea( name="comment" )

		- else

			fieldset.social
				legend Entra a tu cuenta y deja un comentario
				- var title_attr = "Aun no esta disponible :(";

				p
					a.zocial.twitter( href="/login/twitter" ) Entra con Twitter
					a.zocial.facebook.disabled( href="#", tabindex="-1", title= title_attr ) Entra con Facebook
					a.zocial.googleplus.disabled( href="#", tabindex="-1", title= title_attr ) Entra con Google+

				hr

			.col.col-1
				p
					label Nombre
						br
						input( type="text", name="name" )
				
				p
					label Email
						br
						input( type="email", name="email" )

			.col.col-2
				p
					label Comentario
						br
						textarea( name="comment" )
		
		p.buttons
			button( type="submit" ) Enviar Comentario
			
			- if (!logged_user)
				a.gray( href="/login" ) Entra o registrate