extends layout

block before-wrap
	#img-info
		.wrap
			.col
				h1= photo.name
				p.photo-author Por 
					a.gravatar( href="/#{photo._user.username}" )
						img( src= helpers.image.blank, data-src= helpers.gravatar(photo._user.email, 50) )
					|  
					a( href="/#{photo._user.username}")= photo._user.username

			p.photo-info
				a.info-comments( href="#comentarios", title="30 comentarios" ) 30
					span.hidden  comentarios
				span.info-views( title="20 visitas" ) 20 
					span.hidden visitas
				span.info-date( title= photo.created_at )
					span.hidden hace 
					= photo.pretty_date

	#img
		.img
			a( href="/#{username}/#{slug}/sizes/o" )
				//- img( src= helpers.image.blank, data-src= "/uploads/#{photo._id}_m.#{photo.ext}" )
				img( src= "/uploads/#{photo._id}_m.#{photo.ext}" )
			.icons
				a.icon-zoom( href="/#{username}/#{slug}/sizes/g" )
				- // a.icon-edit( href="/#{username}/#{slug}/editar" )

			nav.pagination
				a.prev( href="/#{username}/#{slug}" )
					span &#x3c; 
					span.hidden &nbsp; Anterior

				span.hidden
					|  &nbsp; 
				
				a.next( href="/#{username}/#{slug}" )
					span.hidden Siguiente &nbsp;
					span &#x3e;

block content
	#content-sidebar-wrap.wrap
		#content
			.img-info
				h1= photo.name
				- if (!_.isEmpty(photo.description))
					div.img-description
						!= helpers.markdown(photo.description)
				- else
					div.img-description.no-description
			
			//- #social-bar

		hr.hidden

		
		#sidebar
			- var size = helpers.image.sizes.t;
			.widget
				h2 Otras fotos de 
					a( href="/#{username}" )= user.username
					| 
					a.icon-rss( href="/feed/#{username}" ): span.hidden [RSS]
				
				- var from_user = photos.from_user.length ? photos.from_user : [photo];
				ul.grid
					- _.each(from_user, function(photo){
						li
							a( href="/#{username}/#{photo.slug}" )
								img( src= helpers.image.blank, data-src= "/uploads/#{photo._id}_t.#{photo.ext}", height= size.height, width= size.width )
								span.icon-zoom
					- });


				p.alignright
					a( href="/#{username}" ) Ver galer&iacute;a completa

			#upload
				a( href="/fotos/publicar" ) Sube una foto

			- if (photos.from_all.length)
				.widget
					h2 Otras im&aacute;genes en L4C.me
					
					ul.grid
						- _.each(photos.from_all, function(photo){
							li
								a( href="/#{photo._user.username}/#{photo.slug}" )
									img( src= helpers.image.blank, data-src= "/uploads/#{photo._id}_t.#{photo.ext}", height= size.height, width= size.width )
									span.icon-zoom
						- });
					
					p.alignright
						a( href="/fotos" ) Ver m&aacute;s

		a#comentarios
		#comments
			hr
			
			!= partial('_comments', res.locals)