!= partial('_breadcrumb')

hr

!= partial('_pagination')

#content
	- if (photos.length)
		ul.grid
			- size = helpers.image.sizes.s
			- _.each( photos, function(photo) {
				- user = photo._user;
				- url = '/' + user.username + '/' + photo.slug;

				li
					div.img
						a( href= url )
							img( src= helpers.image.blank, data-src= "/uploads/#{photo._id}_#{size.size}.#{photo.ext}", height= size.height, width= size.width )
							span.icon-zoom

					div.info
						span.photo-name
							a.photo( href= url )= photo.name.replace(/ /g, '&nbsp;') //+ '&nbsp;'
								//- small (#{helpers.format_number(photo.views)})
							br
							span.by por&nbsp;
							strong.username
								a( href= "/#{user.username}" )= user.username

						a.comments( href= url ): span.hidden Comentarios

			- });
	- else
		p.aligncenter No hay imagenes disponibles.
			br
			strong Y U NO UPLOAD MOAR PICTURES?! 
				= helpers.yuno

hr

!= partial('_pagination')