#content-sidebar-wrap
	#content
		nav.pagination
			span
				a.prev( href="/fotos/#{username}/#{slug}" ) Anterior
			
			span
				a.next( href="/fotos/#{username}/#{slug}" ) Siguiente
		
		#img
			.img
				a( href="/fotos/#{username}/#{slug}/sizes/g" )
					img( src= "/uploads/#{photo._id}_m.#{photo.ext}" )
				.icons
					a.icon-zoom( href="/fotos/#{username}/#{slug}/sizes/g" )
					- // a.icon-edit( href="/fotos/#{username}/#{slug}/editar" )
		
		.img-info
			h1= photo.name
			!= helpers.markdown(photo.description)
		
		#social-bar

		hr

		a#comentarios
		
		!= partial('_comments', res.locals)

	
	#sidebar
		#upload
			a( href="/fotos/publicar" ) Sube una foto

		.widget
			h2 Otras fotos de 
				a( href="/fotos/#{username}" )= user.username
				a.icon-rss( href="/feed/#{username}" ) [RSS]
			
			- var from_user = photos.from_user.length ? photos.from_user : [photo];
			ul.grid
				- _.each(from_user, function(photo){
					li
						a( href="/fotos/#{username}/#{photo.slug}" )
							img( src= "/uploads/#{photo._id}_t.#{photo.ext}" )
							span.icon-zoom
				- });


			p.alignright
				a( href="/fotos/#{username}" ) Ver galer&iacute;a completa
	
		.widget
			h2 Sobre fotograf&iacute;a: 
				small
					a.edit-link( href="/fotos/#{username}/#{slug}/editar" ) (Editar)
			
			.widget-content
				- if (photo._tags.length > 0)
					p.tags Tags: 
						- _.each( photo._tags, function(tag) {

							a( href="/tags/#{tag.name}" )= tag.name 
							| 

						- });
				
				p.info Ha sido vista 
					- if (photo.views == 1)
						strong #{photo.views} vez. 
					- else
						strong #{photo.views} veces. 
					| &nbsp; Publicada hace 
					strong= photo.pretty_date

		- if (photos.from_all.length)
			.widget
				h2 Otras im&aacute;genes en L4C.me
				
				ul.grid
					- _.each(photos.from_all, function(photo){
						li
							a( href="/fotos/#{photo._user.username}/#{photo.slug}" )
								img( src= "/uploads/#{photo._id}_t.#{photo.ext}" )
								span.icon-zoom
					- });
				
				p.alignright
					a( href="/fotos" ) Ver m&aacute;s