extends layout

block after-head-meta
	meta( name="twitter:card", content="photo" )
	link( rel="alternate", title="#{helpers.heart} #{site_name} - Fotos de #{username}", href="#{site_domain}/feed/#{username}", type="application/rss+xml" )

block before-wrap
	#img-info
		.wrap
			.photo-info
				p
					- comments_total = helpers.format_number(photo.comments.length || 0)
					- views_total = helpers.format_number(photo.views || 0)
					a.info-comments( href="#comentarios", title="#{comments_total} comentarios" )= comments_total
						span.hidden &nbsp;comentarios
					| &nbsp;
					span.info-views( title="#{views_total} visitas" )= views_total
						span.hidden &nbsp;visitas 
					| &nbsp;
					span.info-date( title= photo.created_at )
						span.hidden hace&nbsp;
						= photo.pretty_date.replace(' ', '&nbsp;')
			
			.col
				h1= photo.name
				p.photo-author Por 
					a.gravatar( href="/#{user.username}" )
						img( src= helpers.image.blank, data-src= helpers.gravatar(user.email, 50) )
					|  
					a( href="/#{user.username}")= user.username

	#img
		.img
			a( href="/#{username}/#{slug}/sizes/o" )
				- if (photo.image.panorama)
					img( src= "/uploads/#{photo._id}_o.#{photo.image.ext}" )
				- else
					img( src= "/uploads/#{photo._id}_m.#{photo.image.ext}" )

			.icons
				a.icon-zoom( href="/#{username}/#{slug}/sizes/g" )
				- // a.icon-edit( href="/#{username}/#{slug}/editar" )

			- if (photo.prev || photo.next)
				nav.pagination

					- if (photo.prev)
						a.prev( href="/#{username}/#{photo.prev.slug}" )
							span &#x3c; 
							span.hidden &nbsp; Anterior

					- if (photo.prev && photo.next)
						span.hidden
							|  &nbsp; 
					
					- if (photo.next)
						a.next( href="/#{username}/#{photo.next.slug}" )
							span.hidden Siguiente &nbsp;
							span &#x3e;

block content
	#content-sidebar-wrap.wrap
		#content
			.img-info
				h1= photo.name
				- if (!_.isEmpty(photo.description))
					div.img-description
						!= helpers.markdown(photo.description)
				- else
					div.img-description.no-description
			
			//- #social-bar

		hr.hidden

		
		#sidebar
			include _author_info

			- var size = helpers.image.sizes.t;
			.widget
				- var from_user = photos.from_user.length ? photos.from_user : [photo];
				ul.grid
					- _.each(from_user, function(photo){
						li
							a( href="/#{username}/#{photo.slug}" )
								img( src= helpers.image.blank, data-src= "/uploads/#{photo._id}_t.#{photo.image.ext}", height= size.height, width= size.width )
								span.icon-zoom
					- });

				p.alignright
					a( href="/#{username}" ) Ver galer&iacute;a completa

			- if (photos.from_all.length)
				.widget
					h2 Otras im&aacute;genes en L4C.me
					
					ul.grid
						- _.each(photos.from_all, function(photo){
							li
								a( href="/#{photo._user.username}/#{photo.slug}" )
									img( src= helpers.image.blank, data-src= "/uploads/#{photo._id}_t.#{photo.image.ext}", height= size.height, width= size.width )
									span.icon-zoom
						- });
					
					p.alignright
						a( href="/fotos" ) Ver m&aacute;s

		a#comentarios
		#comments
			hr
			
			!= partial('_comments', res.locals)