extends layout

- user = photo._user
- username = user.username

block before-wrap
	#img-info
		nav#breadcrumb
			.col
				p.nomargin
					a( href="/#{username}/#{photo.slug}" ) &laquo;&nbsp;Volver a la fotograf&iacute;a de #{username}
				
				h1= photo.name
			
			ul.col
				- var className = '';
			
				- className = (size == 'p') ? 'active' : '';
				li( class= className )
					a( href="/#{username}/#{photo.slug}/sizes/p" ) Peque&ntilde;a
				
				- className = (size == 'm') ? 'active' : '';
				li( class= className )
					a( href="/#{username}/#{photo.slug}/sizes/m" ) Mediana
				
				- className = (size == 'g') ? 'active' : '';
				li( class= className )
					a( href="/#{username}/#{photo.slug}/sizes/g" ) Grande

				- className = (size == 'o') ? 'active' : '';
				li( class= className )
					a( href="/#{username}/#{photo.slug}/sizes/o" ) Original

	#img
		.img
			- if (size == 'o')
				a( href="/uploads/#{photo._id}_#{size}.#{photo.ext}", target="_blank" )
					img( src= "/uploads/#{photo._id}_o.#{photo.ext}" )
			- else
				- size = (size == 'p') ? 's' : size;
				- size = (size == 'g') ? 'l' : size;
				- helper_image = helpers.image.sizes[size];
				- if (helper_image.action == 'crop')
					a( href="/uploads/#{photo._id}_#{size}.#{photo.ext}", target="_blank" )
						img( src= "/uploads/#{photo._id}_#{size}.#{photo.ext}", width= helper_image.width, height= helper_image.height )
				- else
					a( href="/uploads/#{photo._id}_#{size}.#{photo.ext}", target="_blank" )
						img( src= "/uploads/#{photo._id}_#{size}.#{photo.ext}" )
			
			- //.icons
			- //	a.icon-edit( href="/edit/" )

block content
	#content
		.img-info
			!= helpers.markdown(photo.description)
		
			p.info Ha sido vista 
				- if (photo.views == 1)
					strong #{photo.views} vez. 
				- else
					strong #{helpers.format_number(photo.views)} veces. 
				| &nbsp; Publicada hace 
				strong= photo.pretty_date

			//- p
			//- 	a.edit-link( href="/#{photo.user}/#{photo.slug}/editar" ) (Editar)