nav#breadcrumb
	h1 Editar mi perfil

hr

form.profile( method="post", action="/profile" )
	.gravatar
		p.img
			a( href="//gravatar.com/gravatars/new", target="_blank" )
				- src = (user.email) ? helpers.gravatar(user.email, 100) : helpers.image.blank
				img( data-src=src, src= helpers.image.blank )
		p
			a.gray( href="//gravatar.com/gravatars/new", target="_blank" ) Cambia tu avatar

	ul.fields
		li
			label( for="header-username" ) Nombre de usuario
			br
			input#header-username( type="text", name="username", placeholder="Nombre de usuario", value=user.username )
			.info
				| El nombre de usuario es usado en la URL de tu perfil y fotos
				br
				small
					| http://l4c.me/
					strong #{user.username}
					br
					| http://l4c.me/
					strong #{user.username}
					| /nombre-de-tu-foto

		li
			label( for="header-email" ) Correo Electr&oacute;nico
			br
			input#header-email( type="email", name="email", placeholder="Correo Electr&oacute;nico", value=user.email )
			.info
				| Solo usamos tu correo para recuperar tu contraseña o enviar notificaciones sobre tu cuenta

		li
			label
				input#change-password( type="checkbox", name="change-password", value="yes" ).hidden
				button.gray.change-password-trigger( type="button" ) Cambiar contraseña

			#password-container.hidden
				label( for="header-password" ) Contraseña
				.col
					input#header-password( type="password", name="password", placeholder="Contraseña" )
					br
					label.cancel( for="change-password" )
						a.gray( href="#change-password-trigger" ) Cancelar

	hr

	.social
		p.facebook
			- if (!user.facebook.id)
				a.zocial.facebook( href="/login/facebook" ) Enlazar Facebook
			- else
				| Tu cuenta de Facebook 
				strong= user.facebook.username
				|  ha sido asociada con esta cuenta. 
				a.gray.remove() Remover?

		p.twitter
			- if (!user.twitter.id)
				a.zocial.twitter( href="/login/twitter" ) Enlazar Twitter
			- else
				| Tu cuenta de Twitter 
				strong= user.twitter.username
				|  ha sido asociada a esta cuenta.
				a.gray.remove( href="//twitter.com/settings/applications" ) Remover?

		p.googleplus
			- if (!user.google || !user.google.id)
				a.zocial.googleplus.disabled( href="/login/google" ) Enlazar Google+
			- else
				| Tu cuenta de Google+ 
				strong= user.google.username
				|  ha sido asociada a esta cuenta.
				a.gray.remove( href="//google.com/" ) Remover?

	hr

	p.buttons
		button( type="submit" ) Editar mi perfil



- /*
form.profile( method="post", action="/profile" )
	fieldset.fields
		legend Nombre de usuario
		
		p
			//- label( for="header-username" ) Nombre de usuario
			input#header-username( type="text", name="username", placeholder="Nombre de usuario", value=user.username )
			br
			label El nombre de usuario es usado en la URL de tu perfil y fotos
				br
				small
					span#profile-url http://l4c.me/
						strong #{user.username}
					br
					span#profile-url http://l4c.me/
						strong #{user.username}
						| /nombre-de-tu-foto
	
	fieldset
		legend Contraseña

		p Te gustaria cambiar de contraseña?
		p
			label
				input#change-password( type="checkbox", name="change-password", value="yes", checked="false" ).hidden
				button( type="button" ) Cambiar contraseña

		p#password-container.hidden
			input#header-password( type="password", name="password", placeholder="Contraseña" )
			a.cancel( href="#change-password" ) Cancelar

	fieldset
		legend Correo Electr&oacute;nico
		p
			//- label( for="header-email" ) Correo Electr&oacute;nico
			input#header-email( type="email", name="email", placeholder="Correo Electr&oacute;nico", value=user.email )
			br
			| Solo usamos tu correo para recuperar tu contraseña o enviar notificaciones sobre tu cuenta

	p.buttons
		button( type="submit" ) Editar mi perfil

- */