nav.pagination
	- var className = "";
	span
		- if (page > 2)
			a.prev( href= "#{path}/pag/#{page-1}" ) Anterior
		- if (page == 2)
			a.prev( href= path ) Anterior
		- if (page == 1)
			a.prev.disabled Anterior
	
	- _.each( _.range(1,6), function(i){
		span
			- className = (i == page) ? "active" : "";
			a( href= "#{path}/pag/#{i}", class= className )= i
	- });

	span.sep ...

	span
		- className = (255 == page) ? "active" : "";
		a( href= "#{path}/pag/255", class= className ) 255
	span
		- className = (256 == page) ? "active" : "";
		a( href= "#{path}/pag/256", class= className ) 256
	span
		- if (page < 256)
			a.next( href= "#{path}/pag/#{page+1}" ) Siguiente
		- else
			a.next.disabled Siguiente
