nav.pagination
	- var className = "";
	span
		- if (page > 2)
			a.prev( href= "#{path}/pag/#{page-1}" ) Anterior
		- if (page == 2)
			a.prev( href= path ) Anterior
		- if (page == 1)
			a.prev.disabled Anterior
	
	- _.each( _.range(1, pages + 1), function(i){
		span
			- className = (i == page) ? "active" : "";
			a( href= "#{path}/pag/#{i}", class= className )= i
	- });

	- /*
	- if (page > 5)
		span.sep ...

		span
			- className = ((pages - 1) == page) ? "active" : "";
			a( href= "#{path}/pag/#{pages - 1}", class= className )= pages - 1
		span
			- className = (pages == page) ? "active" : "";
			a( href= "#{path}/pag/#{pages}", class= className )= pages
	- */
	
	span
		- if (page < pages)
			a.next( href= "#{path}/pag/#{page+1}" ) Siguiente
		- else
			a.next.disabled Siguiente
