nav#breadcrumb
	h1 Galeria
	ul
		li.active
			a( href="/fotos/ultimas" ) M&aacute;s recientes
		li
			a( href="/fotos/top" ) Mas vistas
		li
			a( href="/fotos/galeria" ) Galer&iacute;as de Usuarios
		li
			a( href="/tags" ) Categorias
		
		li#upload
			a( href="/fotos/publicar" ) Sube una foto

hr

!= partial('_pagination')

#content
	ul.grid
		- var a = _.range(1,5), length = 3*4+1;
		- var u = ['freddier', 'hCanté', 'neojp', 'maikel'];

		- _.each( _.range(1, length), function(i){
			- var user = u[ Math.floor(Math.random() * u.length) ];
			- var user_slug = slugify(user);
			
			li
				div.img
					a( href= "/fotos/#{user_slug}/flores" )
						- rand = Math.floor(Math.random() * 4) + 1;
						img( src= "/images/img_#{rand}.jpg" )
						span.icon-zoom
				
				div.info
					span.photo-name
						a.photo( href= "/fotos/#{user_slug}/flores" ) Flores 
						span.by por 
						strong.username
							a( href="/fotos/#{user_slug}/" )= user
					
					a.comments( href="/fotos/#{user_slug}/flores" ) Comentarios

		- });

hr

!= partial('_pagination')