#content-sidebar-wrap
	#content
		nav.pagination
			span
				a.prev( href="/fotos/#{user}/#{slug}" ) Anterior
			
			span
				a.next( href="/fotos/#{user}/#{slug}" ) Siguiente
		
		#img
			.img
				a( href="/fotos/#{user}/#{slug}/sizes/o" )
					img( src= "/uploads/#{photo._id}_m.#{photo.ext}" )
				.icons
					a.icon-zoom( href="/fotos/#{user}/#{slug}/sizes/o" )
					- // a.icon-edit( href="/fotos/#{user}/#{slug}/editar" )
		
		.img-info
			h1= photo.name
			p= photo.description
		
		#social-bar

		hr

		a#comentarios
		
		!= partial('_comments', { locals: { photo: photo } })

	
	#sidebar
		#upload
			a( href="/fotos/publicar" ) Sube una foto

		.widget
			h2 Otras fotos de 
				a( href="/fotos/#{user}" )= user
				a.icon-rss( href="/feed/#{user}" ) [RSS]
			
			ul.grid
				- for ( i in _.range(1,7) )
					li
						a( href="/fotos/#{user}/#{slug}" )
							img( src= "/uploads/#{photo._id}_t.#{photo.ext}" )
							span.icon-zoom
			
			p.alignright
				a( href="/fotos/#{user}" ) Ver galer&iacute;a completa
	
		.widget
			h2 Sobre fotograf&iacute;a: 
				small
					a.edit-link( href="/fotos/#{user}/#{slug}/editar" ) (Editar)
			
			.widget-content
				p.tags Tags: 
					a( href="/tags/guatemala" ) Guatemala
					|  
					a( href="/tags/fotografia" ) fotograf&iacute;a
					|  
					a( href="/tags/libro" ) libro
					| 
					a( href="/tags/textos" ) textos
				
				p.info Ha sido vista 
					strong #{photo.views} veces. 
					| &nbsp; Publicada hace 
					strong= created_at

		.widget
			h2 Otras im&aacute;genes en L4C.me
			
			ul.grid
				- for ( i in _.range(1,7) )
					li
						a( href="/fotos/#{user}/#{slug}" )
							img( src= "/uploads/#{photo._id}_t.#{photo.ext}" )
							span.icon-zoom
			
			p.alignright
				a( href="/fotos" ) Ver m&aacute;s