!= partial('_breadcrumb')

hr

!= partial('_pagination')

#content
	ul.grid
		- size = helpers.image.sizes.s
		- _.each( photos, function(photo) {
			- user = photo._user;
			- url = '/fotos/' + user.username + '/' + photo.slug;

			li
				div.img
					a( href= url )
						img( src= "/uploads/#{photo._id}_#{size.size}.#{photo.ext}", height= size.height, width= size.width )
						span.icon-zoom

				div.info
					span.photo-name
						//- a.photo( href= url )= photo.name.replace(/ /g, '&nbsp;') 
						a.photo( href= url )= photo.views + ':  ' + photo.slug
						br
						span.by por&nbsp;
						strong.username
							a( href= "/fotos/#{user.username}" )= user.username

					a.comments( href= url ) Comentarios

		- });

hr

!= partial('_pagination')